:root {
  /*color*/
  --main-color: #757575;
  --secondary-color: #212121;
  --select-color: #2196f3;
  --section-team-background: #f5f4fa;
  --hero-footer-background: #2f303a;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/*logo-header*/
.link-logo {
  color: #2196f3;
}
.item-logo {
  color: #212121;
}
/*nav-header*/
.nav-link {
  color: var(--secondary-color);
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus,
.address-item .address-link:hover,
.address-item .address-link:focus,
.address-item .footer-contacts:hover,
.address-item .footer-contacts:focus {
  color: var(--select-color);
}
/*contacts-header*/
.contacts-link {
  color: var(--secondary-color);
}

/*hero*/
.hero {
  background-color: var(--hero-footer-background);
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-btn {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--select-color);
}
/*section-adge*/
.invisible-title {
  visibility: hidden;
}
.adge-subtitle {
  line-height: 1.14;
  color: var(--secondary-color);
}
.adge-text {
}
/*section-work*/
.title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--secondary-color);
}
/*sectionteam*/
.team {
  background-color: var(--section-team-background);
}
.team-subtitle {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
}
/*footer*/
.footer {
  background-color: var(--hero-footer-background);
}
.footer-item-logo {
  color: #ffffff;
}
.address-link,
.footer-contacts {
  font-style: normal;
}
.address-link {
  color: #ffffff;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
/*buttons*/
.filter-btn {
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-color);
  background-color: var(--section-team-background);
}
.filter-item .filter-btn:hover,
.filter-item .filter-btn:focus {
  color: #ffffff;
  background-color: var(--select-color);
  cursor: pointer;
}
/*gallery-project*/
.gallery-title {
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.87;
}
